<div class="container mt-4">
  <h2 class="text-center mb-4">User Profile</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm p-3">
        <h5 class="text-primary mb-3">Profile Information</h5>
        <app-profile-info></app-profile-info>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card shadow-sm p-3">
        <h5 class="text-primary mb-3">Change Password</h5>
        <app-change-password></app-change-password>
      </div>
    </div>
  </div>
</div>
